.login-container {
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}

.login {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.travelers {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  div {
    margin: 1rem;
  }
}

.button {
  text-decoration: none;
  padding: 0.8rem;
  width: 4rem;
  border-radius: 10px;
  background-color: rgb(32, 183, 133);
  color: #000;
  box-shadow: 1px 1px 9px 0px rgb(18 99 72);
  transition: all 0.2s;
  &:hover {
    transform: translateY(-5px);
  }
}
