.group {
  padding: 0rem 1rem 1rem 1rem;
  border-radius: 10px;
  border: solid 1px rgb(32, 183, 133);
  form {
    display: flex;
    justify-content: space-around;
  }
}
.group .title {
  border-radius: 10px;
  background-color: rgb(32, 183, 133);
  color: #fff;
  h5 {
    padding: 0.5rem 0.8rem;
  }
}
.group__items {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.item {
  margin: 0.8rem 0;
  display: flex;
  align-items: center;
  border: solid 1px rgb(18 99 72);
  padding: 0.6rem;
  border-radius: 10px;
  label {
    flex: 1;
    margin: 0 0.5rem;
  }
}
